<aside class="sidebar">
  <img src="assets/CompleteLogoremovebg.png" alt="TripMe Logo" class="logo" />
  <nav>
    <ul>
      <li><i class="fa fa-home"></i> Para você</li>
      <li><i class="fa fa-user-friends"></i> Seguindo</li>
      <li><i class="fa fa-compass"></i> Explorar</li>
      <li><i class="fa fa-map"></i> Roteiros</li>
      <li><i class="fa fa-users"></i> Criadores</li>
      <li><i class="fa fa-bell"></i> Notificações</li>
      <li class="publish"><i class="fa fa-plus"></i> Publicar</li>
    </ul>
  </nav>
  <div class="sidebar-bottom">
    <div class="profile">
      <img src="assets/avatar.jpg" alt="Amanda" class="avatar" />
      <div>
        <span class="name">Amanda</span>
        <span class="followers">1k seguidores</span>
      </div>
      <i class="fa fa-pencil edit"></i>
    </div>
    <div class="more">
      <i class="fa fa-bars"></i> Mais
    </div>
  </div>
</aside>